          </main>
        </div> 
        <div id="footer" class="above-zero  bg-dark">
          <footer class="my-py-5 white-text"> 
            <div class="container">
              <div class="row"> 
                <div class="col-6 col-lg-3 col-xl-3 col-xxl-2 mb-3 my-px-4"> 
                  <h5 class="thin-text">The Human Lens</h5>
                  <hr class="xtiny-tbm"> 
                    <ul class="nav flex-column"> 
                        <li class="nav-item mb-2"><a href="/blogs/category/the-human-lens/emotion-psychology" class="nav-link p-0 text-body-secondary">Emotion & Psychology</a></li> 
                        <li class="nav-item mb-2"><a href="/blogs/category/the-human-lens/faith-meaning" class="nav-link p-0 text-body-secondary">Faith & Meaning</a></li> 
                        <li class="nav-item mb-2"><a href="/blogs/category/the-human-lens/culture-identity" class="nav-link p-0 text-body-secondary">Culture & Identity</a></li> 
                        <li class="nav-item mb-2"><a href="/blogs/category/the-human-lens/society-community" class="nav-link p-0 text-body-secondary">Society & Community</a></li> 
                        <li class="nav-item mb-2"><a href="/blogs/category/the-human-lens" class="nav-link p-0 text-body-secondary">More . . .</a></li> 
                    </ul> 
                </div> 
                <div class="col-6 col-lg-3 col-xl-3 col-xxl-2 mb-3 my-px-4"> 
                  <h5 class="thin-text">The World We Build</h5>
                  <hr class="xtiny-tbm">
                  <ul class="nav flex-column"> 
                      <li class="nav-item mb-2"><a href="/blogs/category/the-world-we-build/governance-politics" class="nav-link p-0 text-body-secondary">Governance & Politics</a></li> 
                      <li class="nav-item mb-2"><a href="/blogs/category/the-world-we-build/globalization-power-structures" class="nav-link p-0 text-body-secondary">Globalization & Power Structures</a></li> 
                      <li class="nav-item mb-2"><a href="/blogs/category/the-world-we-build/cities-nations-borders" class="nav-link p-0 text-body-secondary">Cities, Nations & Borders</a></li> 
                      <li class="nav-item mb-2"><a href="/blogs/category/the-world-we-build/conflict-peace" class="nav-link p-0 text-body-secondary">Conflict & Peace</a></li> 
                      <li class="nav-item mb-2"><a href="/blogs/category/the-world-we-build" class="nav-link p-0 text-body-secondary">More . . .</a></li> 
                  </ul> 
                </div> 
                <div class="col-6 col-lg-3 col-xl-3 col-xxl-2 mb-3 my-px-4"> 
                  <h5 class="thin-text">Tomorrow's Mind</h5>
                  <hr class="xtiny-tbm">
                  <ul class="nav flex-column"> 
                      <li class="nav-item mb-2"><a href="/blogs/category/tomorrows-mind/scientific-thinking-discovery" class="nav-link p-0 text-body-secondary">Scientific Thinking & Discovery</a></li> 
                      <li class="nav-item mb-2"><a href="/blogs/category/tomorrows-mind/emerging-technologies-ai-biotech-quantum" class="nav-link p-0 text-body-secondary">Emerging Technologies</a></li> 
                      <li class="nav-item mb-2"><a href="/blogs/category/tomorrows-mind/digital-society-ethics-surveillance-data-privacy" class="nav-link p-0 text-body-secondary">Digital Society & Ethics</a></li> 
                      <li class="nav-item mb-2"><a href="/blogs/category/tomorrows-mind/futurism-existential-risks" class="nav-link p-0 text-body-secondary">Futurism & Existential Risks</a></li> 
                      <li class="nav-item mb-2"><a href="/blogs/category/tomorrows-mind" class="nav-link p-0 text-body-secondary">More . . .</a></li> 
                  </ul>
                </div> 
                <div class="col-6 col-lg-3 col-xl-3 col-xxl-2 mb-3 my-px-4"> 
                  <h5 class="thin-text">Becoming You</h5>
                  <hr class="xtiny-tbm">
                  <ul class="nav flex-column"> 
                      <li class="nav-item mb-2"><a href="/blogs/category/becoming-you/self-development-life-design" class="nav-link p-0 text-body-secondary">Self-Development & Life Design</a></li> 
                      <li class="nav-item mb-2"><a href="/blogs/category/becoming-you/education-lifelong-learning" class="nav-link p-0 text-body-secondary">Education & Lifelong Learning</a></li> 
                      <li class="nav-item mb-2"><a href="/blogs/category/becoming-you/mental-health-resilience" class="nav-link p-0 text-body-secondary">Mental Health & Resilience</a></li> 
                      <li class="nav-item mb-2"><a href="/blogs/category/becoming-you/purpose-productivity-fulfillment" class="nav-link p-0 text-body-secondary">Purpose, Productivity & Fulfillment</a></li> 
                      <li class="nav-item mb-2"><a href="/blogs/category/becoming-you" class="nav-link p-0 text-body-secondary">More . . .</a></li> 
                  </ul>
                </div>
                <div class="col-xxl-4 mb-3 my-px-4"> 
                  <form>
                    <h5>Subscribe to the "Express Thoughts" newsletter</h5> 
                    <p>Be the first to receive a monthly digest of what's new and exciting from us.</p> 
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2"> 
                      <label for="newsletter1" class="visually-hidden">Email address</label> 
                      <input id="newsletter1" type="email" class="form-control" placeholder="Email address"> 
                      <button class="btn btn-primary" type="button">Subscribe</button> 
                    </div>
                  </form>
                </div> 
              </div> 
              <div class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top"> 
                <p class="copyright">Copyright &copy; <%= new Date().getFullYear() %> Ezugworie, Ifeanyi Ofor. All rights reserved.</p> 
              </div>
            </div>
          </footer>
        </div>
      <script src="/js/on-this-page.js"></script>
      <script src="/js/color-modes.js"></script>
      <script src="/js/bootstrap.bundle.min.js" class="astro-vvvwv3sm"></script>
    </div> 
  </body> 
</html>