<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="generator" content="Astro v5.9.2">
        <title>Express Thoughts</title>
        <link rel="icon" type="image/png" sizes="32x32" href="/images/ExpressThoughts logoSm.png">
        <link rel="icon" type="image/png" sizes="16x16" href="//images/ExpressThoughts logoXSm.png">
        <link rel="apple-touch-icon" href="/images/ExpressThoughts logoSm.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbar-fixed/">
        <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
        <link rel="stylesheet" href="/styles/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/layout.css">
        <link rel="stylesheet" href="/styles/content.css">
    </head> 
    <body> 
        <div id="login-body">
            <div id="header">
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"> 
                    <div class="container"> 
                        <a class="navbar-brand vbold-text" href="/">Express Thoughts</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> 
                            <span class="navbar-toggler-icon"></span> 
                        </button> 
                        <div class="collapse navbar-collapse" id="navbarCollapse"> 
                            <ul class="navbar-nav mb-2 mb-md-0 me-auto"> 
                                <li class="nav-item"> 
                                    <a class="nav-link" href="/">Home</a> 
                                </li> 
                                <li class="nav-item"> 
                                    <a class="nav-link" href="/about">About</a> 
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link" href="/blogs">Blog Posts</a> 
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link" href="/login" >
                                        <button class="btn btn-sm btn-primary" type="button">Login</button>
                                    </a>
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link" href="/signup" >
                                        <button class="btn btn-sm btn-light" type="button">Sign Up</button>
                                    </a>
                                </li>
                            </ul>
                        </div> 
                    </div> 
                </nav>
            </div>
            <div id="login-main" class="main-content above-zero">
                <main class="container">