<%- include("partials/login-header.ejs") %>

<div class="login-form">
    <h2 class="blog-view-subtitle">Sign Up to share your thoughts</h2>
    <form action="/signup" method="post">
        <div class="form-group vtiny-bm">
            <label for="firstName" class="form-label blue-text vbold-text xtiny-bm">First Name</label>
            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Enter your first name" required>
        </div>
        <div class="form-group vtiny-bm">
            <label for="lastName" class="form-label blue-text vbold-text xtiny-bm">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Enter your surname" required>
        </div>
        <div class="form-group vtiny-bm">
            <label for="email" class="form-label blue-text vbold-text xtiny-bm">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email" required>
        </div>
        <div class="form-group vtiny-bm">
            <label for="password" class="form-label blue-text vbold-text xtiny-bm">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password" required>
        </div>
        <div class="input-group d-grid login-button">
            <button type="submit" class="btn btn-primary btn-sm vtiny-bm">Create your account</button>
            <p class="vbold-text">Already have an account? Click <a href="/login">here</a> to login.</p>
        </div>
    </form>
</div>

<%- include("partials/login-footer.ejs") %>